<h1> Preços por Distância</h1>

<div>
<% if admin? %>
    <%= link_to('Cadastrar Preços por Distância', new_price_distance_path)%>  
<%end%>
</div>

<div>
<% @price_distance_names.each do |name| %>
    <h2><%= name %></h2>
    <table>
    <thead>
    <tr>
    <th>Distância Mínima</th>
    <th>Distância Máxima</th>
    <th>Taxa</th>
    </tr>
    </thead>
    <% @price_distances.each do |pd| %>
        <% if pd.delivery_mode.name==name %>
            <tbody>
                <tr>
                    <td><%= pd.min_distance%> kg</td>
                    <td><%= pd.max_distance %> kg</td> 
                    <td>R$ <%= pd.distance_price %></td>
                    <% if admin? %>
                        <td><%= link_to('Editar', edit_price_distance_path(pd.id)) %></td>
                    <%end%>
                </tr>
            </tbody>
        <%end%>
    <%end%>
    </table>
<%end%>
</div>

<% if @price_distances.empty? %>
        <p>Não existem preços cadastrados.</p>
<% end %>
<br>