<%= form_with(model: @order) do |o| %>

    <div>
        <%= o.label :receiver_name %>:
        <%= o.text_field :receiver_name %>
    </div>
    
    <div>
        <%= o.label :sender_address %>:
        <%= o.text_field :sender_address %>
    </div>

    <div>
        <%= o.label :receiver_address %>:
        <%= o.text_field :receiver_address %>
    </div>

     <div>
        <%= o.label :distance %>:
        <%= o.number_field :distance %>
    </div>

    <div>
        <%= o.label :product_code %>:
        <%= o.text_field :product_code %>
    </div>

    <div>
        <%= o.label :width %>:
        <%= o.number_field :width %>
    </div>

    <div>
        <%= o.label :height %>:
        <%= o.number_field :height %>
    </div>

    <div>
        <%= o.label :weight %>:
        <%= o.number_field :weight %>
    </div>

    <div>
        <%= o.submit 'Enviar' %>
    </div>
<%end%>  