<h2> <%= Order.model_name.human%>: <%= @order.delivery_code %></h2> 
<h4> criada em: <%= @order.created_at.strftime(("%d/%m/%Y")) %></h4>

<div>
    <dl>
        <dt><strong><%= Order.human_attribute_name(:receiver_name)%>:</strong></dt>
        <dd><%= @order.receiver_name%><dd>
        <dt><strong><%= Order.human_attribute_name(:sender_address)%>:</strong></dt>
        <dd><%= @order.sender_address%><dd>
        <dt><strong><%= Order.human_attribute_name(:receiver_address)%>:</strong></dt>
        <dd><%= @order.receiver_address%></dd>
        <dt><strong><%= Order.human_attribute_name(:distance)%>:</strong></dt>
        <dd><%= @order.distance%> km</dd>
        <dt><strong><%= Order.human_attribute_name(:delivery_code)%>:</strong></dt> 
        <dd><%= @order.delivery_code%></dd>
        <dt><strong><%= Order.human_attribute_name(:product_code)%>:</strong></dt>
        <dd><%= @order.product_code%></dd>
        <dt><strong>Dimensão: </strong></dt>
        <dd><%= @order.height%> cm x <%= @order.width%> cm</dd>
        <dt><strong><%= Order.human_attribute_name(:weight)%>:</strong></dt>
        <dd><%= @order.weight%> kg</dd>
        <% if @order.order_shippings.empty? %>
            <dt><strong><%= Order.human_attribute_name(:status)%>:</strong></dt>
            <dd><%= I18n.t(@order.status)%><dd>
        <%elsif @order.close_orders.empty?%>
            <dt><strong><%= Order.human_attribute_name(:status)%>:</strong></dt>
            <% @order.initiated!%>
            <dd><%= I18n.t(@order.status)%><dd>
        <%else%>
            <dt><strong><%= Order.human_attribute_name(:status)%>:</strong></dt>
            <% @order.terminated!%>
            <dd><%= I18n.t(@order.status)%><dd>
        <%end%>
    </dl>
</div>

<div>
    <h2> Informações | Frete e Entrega </h2>

    <% @order.order_shippings.each do | info |%>
        <% if info.delivery_mode_id == OrderShipping.last().delivery_mode_id && info.id != OrderShipping.last().id %>
            <dl> 
            <dt><strong><%= OrderShipping.human_attribute_name(:delivery_mode)%>:</strong></dt>
            <dd><%= info.delivery_mode.name%></dd>
            <dt><strong><%= OrderShipping.human_attribute_name(:final_price)%>:</strong></dt>
            <dd>R$<%= info.final_price%></dd>
            <dt><strong><%= OrderShipping.human_attribute_name(:final_term)%>:</strong></dt>
            <dd><%= info.final_term%>h</dd>
            <dt><strong><%= OrderShipping.human_attribute_name(:chosen_vehicle)%>:</strong></dt>
            <dd><%= info.chosen_vehicle%></dd>
            </dl>
        <% elsif info.delivery_mode_id != OrderShipping.last().delivery_mode_id%>
            <% OrderShipping.delete_by(delivery_mode_id:info.delivery_mode_id, order_id: OrderShipping.last().order_id) %>
        <% elsif OrderShipping.where(order_id: OrderShipping.last().order_id).count == 1 %>
            <dl> 
            <dt><strong><%= OrderShipping.human_attribute_name(:delivery_mode)%>:</strong></dt>
            <dd><%= info.delivery_mode.name%></dd>
            <dt><strong><%= OrderShipping.human_attribute_name(:final_price)%>:</strong></dt>
            <dd>R$ <%= info.final_price%></dd>
            <dt><strong><%= OrderShipping.human_attribute_name(:final_term)%>:</strong></dt>
            <dd><%= info.final_term%>h</dd>
            <dt><strong><%= OrderShipping.human_attribute_name(:chosen_vehicle)%>:</strong></dt>
            <dd><%= info.chosen_vehicle%></dd><dd>            
            </dl>
        <% end %>
    <%end%>

    <% if @order.order_shippings.empty?%>
        <p> Não há informações de frete e entrega cadastradas.</p>
    <%end%>

    <% @order.close_orders.each do | i | %>
        <dt><strong><%= CloseOrder.human_attribute_name(:delivery_date)%>:</strong></dt>
        <dd><%= i.delivery_date %></dd>
        <dt><strong><%= CloseOrder.human_attribute_name(:status)%>:</strong></dt>
        <% @close_order.is_delayed?(i, @order) %>
        <dd><%= I18n.translate(i.delay) %></dd>
        <% @close_order.release_vehicle(i) %>
        <% if i.delayed? %>
            <dt><strong><%= CloseOrder.human_attribute_name(:delay_reason)%>:</strong></dt>
            <dd><%= I18n.t(i.delay_reason) %></dd>
            <br>
            <br>
            <%= button_to 'Endereço Desconhecido', address_unknown_order_path(@order.id)%>
            <%= button_to 'Produto Extraviado', lost_order_path(@order.id)%>
            <%= button_to 'Destinatário Ausente', absent_order_path(@order.id)%>
            <%= button_to 'Outro', other_order_path(@order.id)%>
        <% end %>
    <%end%>
    
    <% if OrderShipping.all.any? %>
        <% if OrderShipping.where(order_id: OrderShipping.last().order_id).count > 1 %>
            <% OrderShipping.last().delete %>
        <% end %>
    <% end %>
    
    <div>
    <% if @order.order_shippings.empty?%>
        <%=link_to('Iniciar', new_order_order_shipping_path(order_id: @order.id))%>
    <% end %>
    <% if @order.close_orders.empty? %>
        <%=link_to('Encerrar', new_order_close_order_path(order_id: @order.id))%>
    <% end %>
    </div> 
</div>
<br>
<div>
    <%= link_to('Voltar', orders_path) %>
</div>

