<h2> <%= Order.model_name.human%>: <%= @order.delivery_code %></h2>

<div>
    <dl>
        <dt><strong><%= Order.human_attribute_name(:receiver_name)%>:</strong></dt>
        <dd><%= @order.receiver_name%><dd>
        <dt><strong><%= Order.human_attribute_name(:sender_address)%>:</strong></dt>
        <dd><%= @order.sender_address%><dd>
        <dt><strong><%= Order.human_attribute_name(:receiver_address)%>:</strong></dt>
        <dd><%= @order.receiver_address%></dd>
        <dt><strong><%= Order.human_attribute_name(:distance)%>:</strong></dt>
        <dd><%= @order.distance%> km</dd>
        <dt><strong><%= Order.human_attribute_name(:delivery_code)%>:</strong></dt> 
        <dd><%= @order.delivery_code%></dd>
        <dt><strong><%= Order.human_attribute_name(:product_code)%>:</strong></dt>
        <dd><%= @order.product_code%></dd>
        <dt><strong>Dimensão: </strong></dt>
        <dd><%= @order.height%> cm x <%= @order.width%> cm</dd>
        <dt><strong><%= Order.human_attribute_name(:weight)%>:</strong></dt>
        <dd><%= @order.weight%> kg</dd>
        <dt><strong><%= Order.human_attribute_name(:status)%>:</strong></dt>
        <dd><%= I18n.t(@order.status)%><dd>
    </dl>
</div>

<% if admin?%>
    <%= button_to 'Pendente', pending_order_path(@order.id) %> 
    <%= button_to 'Iniciada', initiated_order_path(@order.id) %>
    <%= button_to 'Encerrada', terminated_order_path(@order.id) %>
<%end%>

<br>

<div>
    <%= link_to('Editar', edit_order_path(@order))%>
</div>

<div>
    <%= link_to('Voltar', orders_path) %>
</div>