<%= form_with(model: @vehicle) do |v| %>
    
    <div>
        <%= v.label :brand %>:
        <%= v.text_field :brand %>
    </div>

    <div>
        <%= v.label :license_plate %>:
        <%= v.text_field :license_plate %>
    </div>

    <div>
        <%= v.label :fabrication_year %>:
        <%=v.number_field :fabrication_year %>
    </div>

      <div>
        <%= v.label :maximum_capacity %>:
        <%= v.number_field :maximum_capacity %>
    </div>

   <div>
        <%= v.label :delivery_mode_id %>:
        <%= v.collection_select :delivery_mode_id, @delivery_modes, :id, :name %>
    </div>

    <div>
        <%= v.submit 'Enviar' %>
    </div>
<%end%>  