<br>

<div>
<%=form_with(url: search_vehicles_path, method: :get) do |f|%>
            <%= f.label :query, 'Buscar Veículo' %>
            <%= f.text_field :query %>
            <%= f.submit 'Buscar'%>
<% end %>
</div>

<h2> Veículos</h2>

<div>
<% if admin? %>
    <%= link_to('Cadastrar Veículo', new_vehicle_path)%>  
<%end%>
</div>
<br>

<% if @vehicles.any? %>
    <div>
        <% @vehicles.each do |v| %>
             <dt><strong><%= Vehicle.human_attribute_name(:brand)%>:</strong></dt>
             <dd><%=link_to(v.brand, v)%></dd>
             <dt><strong><%= Vehicle.human_attribute_name(:license_plate)%>:</strong></dt>
             <dd><%=v.license_plate%></dd>
             <dt><strong><%= Vehicle.human_attribute_name(:delivery_mode_id)%>:</strong></dt>
             <dd><%=v.delivery_mode.name%></dd>
             <dt><strong><%= Vehicle.human_attribute_name(:status)%>:</strong></dt>
             <dd><%= I18n.translate(v.status)%></dd>
        <%end%>
    </div>
<%else%>
    <p> Não existem veículos cadastrados.</p>
<%end%>