<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de Frete | Etapa#1 </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <%= link_to(root_path) do %>
        <h1>Transportes & Fretes</h1>
      <% end %>
      <nav>
        <%= link_to('Modalidades de Transporte', root_path)%> | 
        <%= link_to('Veículos', vehicles_path)%> |
        <%= link_to('Ordens de Serviço', orders_path)%> |
        <%= link_to('Consultar', consult_price_terms_path)%> 

        <% if user_signed_in?%>
          <%=form_with(url: search_vehicles_path, method: :get) do |f|%>
            <%= f.label :query, 'Buscar Veículo' %>
            <%= f.text_field :query %>
            <%= f.submit 'Buscar'%>
          <% end %>
         <%= current_user.name %> - <%= current_user.email%> 
          <%= button_to('Sair', destroy_user_session_path, method: :delete) %>
        <% else %>
          <%= link_to('Entrar', new_user_session_path)%>
        <%end%>
      </nav>
    </header>
    <main>
      <div>
        <%=flash[:notice]%>
        <%=flash[:alert]%>
      </div>
      <%= yield %>
    </main>
    </body>
</html>
